.simpleplayer .player {
    height: 95vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.simpleplayer .details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
}

.simpleplayer .track-art {
    margin: 25px;
    height: 250px;
    width: 250px;
    background-image: url("https://images.pexels.com/photos/262034/pexels-photo-262034.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-size: cover;
    border-radius: 15%;
}

.simpleplayer .now-playing {
    font-size: 1rem;
}

.simpleplayer .track-name {
    font-size: 3rem;
}

.simpleplayer .track-artist {
    font-size: 1.5rem;
}

.simpleplayer .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.simpleplayer .playpause-track, .prev-track, .next-track {
    padding: 25px;
    opacity: 0.8;
    /* Smoothly transition the opacity */
    transition: opacity .2s;
}

.simpleplayer .playpause-track:hover, .prev-track:hover, .next-track:hover {
    opacity: 1.0;
}

.simpleplayer .slider_container {
    width: 75%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Modify the appearance of the slider */
.simpleplayer .seek_slider, .volume_slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: black;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

    /* Modify the appearance of the slider thumb */
    .simpleplayer .seek_slider::-webkit-slider-thumb, .volume_slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 15px;
        height: 15px;
        background: white;
        cursor: pointer;
        border-radius: 50%;
    }

    .simpleplayer .seek_slider:hover, .volume_slider:hover {
        opacity: 1.0;
    }

.simpleplayer .seek_slider {
    width: 100%;
}

.simpleplayer .volume_slider {
    width: 50%;
}

.simpleplayer .current-time, .total-duration {
    padding: 10px;
}

.simpleplayer i.fa-volume-down, i.fa-volume-up {
    padding: 10px;
}

.simpleplayer i.fa-play-circle, i.fa-pause-circle, i.fa-step-forward, i.fa-step-backward {
    cursor: pointer;
}
